@import '/src/styles/var';
@import '/src/styles/mixins';

.agronomy-page-container {
  @include flex(column, flex-start, stretch);
  margin-top: 5rem;
  width: 80%;
  max-width: 80rem;
}

.agronomy-content-wrapper {
  @include flex(row, flex-start, flex-start);
  gap: 1rem;
  
}