@import '/src/styles/var';
@import '/src/styles/mixins';

.agronomy-page-container {
  @include flex(column, flex-start, stretch);
  margin-top: 5rem;
  width: 80%;
  max-width: 80rem;
}

@media screen and (max-width: 768px) {
  .agronomy-page-container {
    width: 95%;
  }
}

.agronomy-content-wrapper {
  @include flex(row, flex-start, flex-start, wrap);
  gap: 1rem;
  margin-top: 1rem;
}