@import '/src/styles/mixins';
@import '/src/styles/var';

.article-block {
  @include flex(column, flex-start, stretch);
  padding: 1rem;
  &:not(:last-child) {
    border-bottom: 1px solid $grey-dk;
  }

  .block-content-wrapper {
    @include flex(row, center, flex-start);
    gap: 1rem;

  }

  .article-image {

    img {
      width: 22rem;
      object-fit: contain;
    }

  }
  
  .article-info {
    @include flex(column, flex-start, stretch);
    gap: .5rem;

    .article-title {
      h2 {
        font-size: 1.25rem;
        color: $font-color;
      }
      border-bottom: 1px solid $gp-gold;
    }

    .article-tags {
      @include flex(row, flex-start, flex-start, wrap);
      gap: .5rem;
    }

  }


  button {
    align-self: flex-end;
  }


}