@import '/src/styles/mixins';
@import '/src/styles/var';

.article-block {
  @include flex(column, flex-start, stretch);
  padding: 1rem;
  &:not(:last-child) {
    border-bottom: 1px solid $grey-dk;
  }

  .block-content-wrapper {
    @include flex(row, stretch, flex-start, wrap);
    gap: 1rem;

  }

  .article-image {

    img {
      width: 22rem;
      object-fit: contain;
    }

    @media screen and (max-width: $mobile-breakpoint) {
      img {
        width: 100%;
      }
    }

  }
  
  .article-info {

    @include flex(column, flex-start, stretch);
    gap: .5rem;
    margin-bottom: .5rem;
    flex-basis: 0;
    flex-grow: 1;
    min-width: 300px;


    .article-title {
      font-size: 1.25rem;
      text-transform: uppercase;
      color: $font-color;
      border-bottom: 1px solid $gp-gold;
    }

    .article-tags {
      @include flex(row, flex-start, flex-start, wrap);
      gap: .5rem;
    }

  }


  button {
    align-self: flex-end;
  }


}